  .a {
      background-color: red;
  }
  
  body {
      width: 100%;
      height: 100%;
  }
  
body::-webkit-scrollbar {
    display: none;
}
  
  .main {
      overflow: scroll;
      width: 100%;
      height: 100%;
      overflow: hidden;
      margin: 0;
      flex: 1;
      padding: 0;
      border-right: 1px solid #dddddd;
  }
  
  ul,
  li {
      list-style: none;
      padding: 0px;
      margin: 0px;
  }

  .el-aside [v-cloak] {
      display: none;
  }
  
  .bottom_bbbb {
      border-top: 1px solid #dddddd;
      width: 100%;
      height: 173px;
      display: flex;
      justify-content: center;
  }